[default]
bin  = easycrypt
args = -I proof -I proof/smart_counter -timeout 10 -max-provers 4

[test-sha3]
okdirs = !proof

[test-sponge]
okdirs = proof proof/smart_counter

[test-jsponge]
okdirs = proof/impl

[test-jperm]
okdirs = proof/impl/perm

[test-libc]
args   = -I proof/impl -I proof/impl/perm -timeout 10
okdirs = proof/impl/libc
