[default]
bin    = easycrypt
report = report.log

[test-sha3]
okdirs = !proof
args   = -I Jasmin:jasmin/eclib -I proof -I proof/smart_counter -I proof/impl -I proof/impl/perm

[test-sponge]
okdirs = proof proof/smart_counter
args   = -I proof -I proof/smart_counter

[test-jsponge]
okdirs = proof/impl
args   = -I Jasmin:jasmin/eclib -I proof -I proof/smart_counter

[test-jperm]
okdirs = proof/impl/perm
args   = -I Jasmin:jasmin/eclib -I proof -I proof/smart_counter -I proof/impl

[test-libc]
okdirs = proof/impl/libc
args   = -I Jasmin:jasmin/eclib -I proof -I proof/smart_counter -I proof/impl -I proof/impl/perm
