[default]
bin  = easycrypt
args = -timeout 30 -max-provers 2 -I proof -I proof/smart_counter -I proof/impl -I proof/impl/perm

[test-sha3]
okdirs = !proof

[test-sponge]
okdirs = proof proof/smart_counter

[test-jsponge]
okdirs = proof/impl

[test-jperm]
okdirs = proof/impl/perm

[test-libc]
okdirs = proof/impl/libc
